@media (max-width:575.99px) {
    /* ================common=============== */
    .common_p{
        font-weight: 400;
    }
    h2 {
        font-size: 38px;
        font-weight: 600;
        line-height: 48px;
        margin: 0;
    }
    h3 {
        
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        
    }
    #banner {
        padding: 80px 0 68px;
        background-color: var(--primary);
    }
    .banner_text h1 {
        font-size: 38px;
        line-height: 1.5;
    }
    /* ===============navbar section========== */
    .navbar {
        padding: 10px 0;
    }
    .navbar-brand img{
        width: 60%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        color: #ffffff;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .nav-item {
        text-align: center;
    }
    .nav_btn {
        padding: 8px 12px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    .nav-item .nav-link {
        font-weight: 500;
        font-size: 16px;
    }

/* ===============navbar section========== */

/* =================feature page start================= */
#main_feature .feature_item {
    padding: 60px 0;
}
/* =================feature page end================= */
/* =================about us page start================= */
#about_banner {
    padding: 60px 0;
}
#who_we_are .who_we_are_wrapper,#about_us  #index_feature,#our_team  {
    padding: 20px;
}
#process,#missoin_vission {
    padding: 60px 0;
}
#missoin_vission .mission {
    margin-bottom: 30px;
}
#index_feature .section_header h2 {
    width: auto;
}
.index_feature_wrapper .index_feature_item {
    padding: 10px;
}
#about_us #logo_section {
    padding: 48px 0 60px;
}
#our_team .team_member {
    
    padding: 48px 40px 32px;
}
/* =================about us page end================= */

/* ===============Privacy page=================== */
.privacy_content {
    padding: 60px 0 40px;
}
.privacy_content .section_header p {
    width: auto;
    
}
 /* ====================work page start=================== */
 .work_heder {
    padding: 60px 0;
}
.work_heder .section_header p {
    width: auto;
}
.cta_section h2 {
    width: auto;
    margin: 0 auto;
}
.cta_section p {
    width: auto;
   
    padding-top: 20px;
}
/* ====================work page end=================== */

/* ====================pricing page start=================== */
#pricing .section_header {
    padding: 60px 0;
    width: auto;
}
#faq {
    padding: 60px 0;
}
.accordion-header .count {
    
    padding-right: 20px;
}

/* ====================pricing page end=================== */


 /* ====================blog page start=================== */
 #blog_header {
    padding: 60px 0;
}
#blog_header .section_header p {
    width: auto;
}
/* ====================blog page end=================== */
/* ==================single blog page start========================= */
#blog_header .section_header h2 {
    width: auto;
    margin: 0 auto;
}

/* ==================single blog page end========================= */

/* ====================contact us page start============================ */
#contact {
    padding: 60px 0 40px;
}

#contact .section_header p {
    width: auto;
    
}

/* ====================contact us page end ============================ */


/* =====================footer section================== */
.upper_footer {
    padding: 60px 0 0;
}
.upper_footer .footer_left p {
    margin: 22px 0 60px;
    padding-right: 0px;
}
.upper_footer .footer_right h2 {
    font-size: 38px;
    line-height: 48px;
}
.upper_footer .footer_right{
    padding-bottom: 20px;
}
.upper_footer .footer_right p {
    padding-right: 0;
}
.footer_nav {
    column-gap: 10px;
    width: 100%;
}
}

/* =====================small screen============= */
@media (min-width:576px) and (max-width:767.99px) {
    /* ===============common================== */
    #banner {
        padding: 80px 0 68px;
        background-color: var(--primary);
    }
    .banner_text h1 {
        font-size: 38px;
        line-height: 1.5;
    }
      /* ===============navbar section========== */
    .navbar {
        padding: 10px 0;
    }
    .navbar-brand img{
        width: 60%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        color: #ffffff;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .nav-item {
        text-align: center;
    }
    .nav_btn {
        padding: 8px 12px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
   .nav-item .nav-link {
        font-weight: 500;
        font-size: 16px;
    }

/* ===============navbar section end========== */
/* =================about us page start================= */
#about_banner {
    padding: 60px 0;
}
#who_we_are .who_we_are_wrapper,#about_us  #index_feature,#our_team  {
    padding: 20px;
}
#process,#missoin_vission {
    padding: 60px 0;
}
#missoin_vission .mission {
    margin-bottom: 30px;
}
#index_feature .section_header h2 {
    width: auto;
}
.index_feature_wrapper .index_feature_item {
    padding: 10px;
}
#about_us #logo_section {
    padding: 48px 0 60px;
}
#our_team .team_member {
    
    padding: 48px 40px 32px;
}
/* =================about us page end================= */
/* ====================work page start=================== */
.work_heder {
    padding: 60px 0;
}
.work_heder .section_header p {
    width: auto;
}
.cta_section h2 {
    width: auto;
    margin: 0 auto;
}
.cta_section p {
    width: auto;
   
    padding-top: 20px;
}
/* ====================work page end=================== */
/* ==================single blog page start========================= */
#blog_header .section_header h2 {
    width: auto;
    margin: 0 auto;
}

/* ==================single blog page end========================= */

/* ===============Privacy page=================== */
.privacy_content {
    padding: 60px 0 40px;
}
.privacy_content .section_header p {
    width: auto;
    
}







/* =====================footer section================== */
.upper_footer {
    padding: 60px 0 0;
}
.upper_footer .footer_left p {
    margin: 22px 0 60px;
    padding-right: 0px;
}
.upper_footer .footer_right h2 {
    font-size: 38px;
    line-height: 48px;
}
.upper_footer .footer_right{
    padding-bottom: 20px;
}
.upper_footer .footer_right p {
    padding-right: 0;
}
.footer_nav {
    column-gap: 10px;
    width: 100%;
}
}


/* =====================medium screen============= */
@media (min-width:768px) and (max-width:991.99px) {
    /* ===============navbar section========== */
    .navbar {
        padding: 10px 0;    
    }
    .navbar-brand img{
        width: 60%;
    }
    .navbar-toggler {
        border: 0;
    }
    .navbar-toggler i{
        color: #ffffff;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .nav-item {
        text-align: center;
    }
    .nav_btn {
        padding: 8px 12px;
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
   .nav-item .nav-link {
        font-weight: 500;
        font-size: 16px;
    }
   
/* =================about us page start================= */
#about_banner {
    padding: 60px 0;
}
#who_we_are .who_we_are_wrapper,#about_us  #index_feature,#our_team  {
    padding: 20px;
}
#process,#missoin_vission {
    padding: 60px 0;
}
#missoin_vission .mission {
    margin-bottom: 30px;
}
#index_feature .section_header h2 {
    width: auto;
}
.index_feature_wrapper .index_feature_item {
    padding: 10px;
}
#about_us #logo_section {
    padding: 48px 0 60px;
}
#our_team .team_member {
    
    padding: 48px 40px 32px;
}
/* =================about us page end================= */
    /* ==================single blog page start========================= */
#blog_header .section_header h2 {
    width: auto;
    margin: 0 auto;
}

/* ==================single blog page end========================= */


    /* =====================footer section================== */
.upper_footer {
    padding: 60px 0 0;
}
.upper_footer .footer_left p {
    margin: 22px 0 60px;
    padding-right: 0px;
}
.upper_footer .footer_right h2 {
    font-size: 38px;
    line-height: 48px;
}

.upper_footer .footer_right{
    padding-bottom: 20px;
}
.upper_footer .footer_right p {
    padding-right: 0;
}
.footer_nav {
    column-gap: 10px;
    width: 100%;
}
.copyright p {
    width: 300px;
}
}

/* =====================large screen============= */
@media (min-width:992px) and (max-width:1199.99px) {

    .footer_contact {
        padding: 17px 15px;
    }

    /* =================about us page start================= */
    .index_feature_wrapper .index_feature_item {
        padding: 45px 0 45px 20px;
    }
#our_team .team_member {
    padding: 48px 40px 32px;
}
/* =================about us page end================= */
}