@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --primary:#1c1E53;
    --white:#ffffff;
    --yellow: #FCD980;
    --dark-blue:#282938;
    --border-color:rgba(40, 41, 56, 0.2);
    --grey: #F4F6FC;
    --royal-blue:#2405F2;
    --transition: all linear .3s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

.common_btn{
    background: transparent;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    text-transform: capitalize;
    transition: var(--transition);

}
.common_btn:hover{
    background: var(--yellow);
    color: #1B1C2B;
}
.common_p{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: .7;
    margin: 0;
}
h2{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
    margin: 0;
}
h3{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    margin: 0;
}
h4{
    color: var(--Dark-blue);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
}
h5{
    color: var(--Dark-blue);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    opacity: .8;
    margin: 0;
}
h6{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: .7;
}
span{
    color: var(--Dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: .8;
}
.section_header{
    text-align: center;
}
.section_header span{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: var(--dark-blue);
    opacity: .7;
    padding-bottom: 4px;
}
.section_header h2{
    text-align: center;
    padding-bottom: 16px;
}
.section_header p{
    text-align: center;
    margin: 0 auto;
    opacity: 0.7;
}
/* ============NavBar section============ */
.navbar{
 background: var(--primary);
 padding: 16px 0;
}
.navbar-nav{
    column-gap: 32px;
    margin-right: 48px;
}
.nav-item .nav-link{
    color: #BBBBCB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 0 !important;
    transition: var(--transition);
}
.nav-item .nav-link:hover{
    color: var(--white);
}
.nav_btn{
    padding: 16px 48px;
}


/* ===============banner section============ */
#banner{
    padding: 218px 0 128px;
    background-color: var(--primary);
}
.banner_text h1{
    color: var(--white);
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; 
}
.banner_text p{
    color: var(--white);
    opacity: .7;
    padding: 24px 0 48px;
}
.banner_btn{
    padding: 16px 56px;
    margin-right: 40px;
}






/* =======================Contact page==================== */
#contact{
    padding: 128px 0;
}
#contact .section_header p{
    width: 520px;
    padding-bottom: 64px;
}
#contact form{
    background: var(--grey);
    border-radius: 12px;
    padding: 55px 76px 69px 77px;
}
#contact form input,#contact form textarea{
    background-color: transparent;
    margin-bottom: 24px;
    outline: 0;
}
#contact form input{
    height: 62px; 
    margin-bottom: 24px;
}
#contact form textarea{
    height: 138px; 
}
#contact form input:focus,#contact form textarea:focus{
    box-shadow: none;
    
}
#contact .contact_btn{
    background: var(--dark-blue);
    color: var(--white);
    font-size: 16px;
    padding: 16px 64px;
    /* opacity: .7; */
}
#contact .contact_btn:hover{
    background: var(--yellow);
    color: var(--dark-blue);
}

/* =================================Privacy page================= */
.privacy_content{
    padding: 128px 0 88px;
}
.privacy_content .section_header p{
    width: 550px;
    padding-bottom: 64px;
}
.privacy_text{
    margin-bottom: 40px;
}
.privacy_text h3{
    margin-bottom: 32px;
}
.privacy_text p{
    color: var(--dark-blue);
    opacity: .7;
    margin-bottom: 24px;
}
.privacy_text ul,#blog_content ul,.about_content ul,.procedure_content ul{
    list-style-type: disc;
    padding: 0 20px 4px;
    margin: 0;
}
.privacy_text ul li,#blog_content ul li,.about_content ul li,.procedure_content ul li{
    opacity: .7;
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 12px;
}

/* ================Work page================== */
.work_heder{
    padding: 96px 0;
    background: var(--grey);
}
.work_heder .social{
    margin-top: 32px;
}
.work_heder .social i{
    color: var(--dark-blue);
}
#portfolio{
    padding-top: 96px;
}
.work_categories{
    column-gap: 32px;
    color: var(--dark-blue);
    margin-bottom: 48px;
}
.work_categories a{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: .7;
    transition: var(--transition);
}
.work_categories a:hover{
    color: var(--royal-blue);
    opacity: 1;
    
}
.portfolio_wraper{
    row-gap: 64px;
}
.template_img{
    height: 380px;
    width: auto;
    overflow: hidden;
    margin-bottom: 24px;
}
.template_1{
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}
.template_2{
    background: linear-gradient(131deg, #FFD3AF 16.74%, #4F56FF 103.17%);
}
.template_3{
    background: linear-gradient(131deg, #EEBCA7 16.74%, #C8C8C8 103.17%);
}
.template_4{
    background: linear-gradient(131deg, #C2E7F2 16.74%, #98A4FF 103.17%);
}
.template_5{
    background: linear-gradient(131deg, #C5BCFF 16.74%, #9BF6D5 103.17%);
}
.template_6{
    background: linear-gradient(131deg, #D2D6FD 16.74%, #D6ACEA 103.17%);
}
.template_content h3{
    margin-bottom: 12px;
}
.template_content a{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-top: 24px;
}

/* =================cta section============ */
.cta_section{
    padding: 128px 0;
}
.cta_section h2{
    width: 730px;
    margin: 0 auto;
}
.cta_section p{
    width: 560px;
    margin: 0 auto;
    padding-top: 20px;
}
.work_btn{
    margin-top: 40px;
    display: inline-block;
    background: var(--yellow);
    padding: 16px 66px;
    color: var(--dark-blue);
}

/* ======================Blog Page============= */
#blog_header{
    padding: 128px 0;
}
#blog_header .section_header h2{
    width: 950px;
    margin: 0 auto;
}
#blog_header .section_header span{
    opacity: 1;
    margin-bottom: 32px;
}
#blog_header .section_header p{
    width: 830px;
    margin: 0 auto;
    padding: 48px 0 16px;
}
#blog_header .section_header a{
    color: var(--royal-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


/* =================Our blog section============= */#our_blog .section_header{
    padding-bottom: 48px;
} 
.blog_wrapper{
    row-gap: 64px;
    margin-bottom: 128px;
}
#our_blog .card{
    border: none;
    border-radius: 0;
}
#our_blog .card .card-body{
   padding: 0;
}

#our_blog .card-img, .card-img-top {
    border-radius: 0;
    margin-bottom: 32px;
}
#our_blog .card .card-body .card-title{
    color: var(--Dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    opacity: .7;
}
#our_blog .card .card-body h4{
    padding: 16px 0 ;
}
#our_blog .card .card-body a{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding-top: 24px;
}

/* ==================================Single Blog page=========== */
#single_blog #blog_header{
    padding: 48px 0;
}
#blog_content{
    padding-bottom: 88px;
}
#blog_content h3{
    padding-bottom: 32px;
    margin: 0;
}
#blog_content p{
    padding-bottom: 40px;
    margin: 0;
}
#blog_content ul{
    padding: 24px 0;
    margin: 0;
}
#blog_content .single_blog_image img{
    margin: 32px 0 56px;
}
/* ============================Single work page============== */
#read_case_header{
    padding: 128px 0 48px;
}
#read_case_header h2{
    padding: 12px 0 16px;
    width: 650px;
}
#read_case_header p{
    width: 820px;
}
.template1_page{
    height: 641px;
    width: auto;
    overflow: hidden;
    margin-top: 48px;
}
.template1_page picture img{
    height: 516px;
    width: 888px;
    object-fit: cover;
}
#case_studies h5{
    padding: 4px 0 32px;
}
/* ==============About project section=========== */
#about_project{
    padding: 96px 0 64px;
}
#about_project .about_content p,#work_procedure .procedure_content p{
    padding: 12px 0 24px;
}
#about_project .about_image{
    height: 504px;
    width: auto;
    overflow: hidden;
    margin-top: 48px;
}
#about_project .about_image picture img{
    height: 423px;
    width: 728px;
    object-fit: cover;
}
#work_procedure{
 margin-bottom: 80px;
}

#keyword .keyword_wrapper{
    padding: 24px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
#keyword h4{
    color: var(--royal-blue);
   
}
/* ===================Footer section=========== */

.upper_footer{
    padding: 96px 0 0 ;
    background: var(--primary);
}
.upper_footer .footer_left p{
    color: #ffffff;
    opacity: .8;
    margin: 22px 0 86px;
    padding-right: 130px;
}
.footer_contact{
    background: var(--yellow);
    padding: 17px 37px;
}
.footer_contact h6{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}
.footer_contact h6{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.upper_footer .footer_right h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
}
.upper_footer .footer_right p{
    color: #ffffff;
    opacity: .8;
    margin: 14px 0 28px;
    padding-right: 240px;
}
.social{
    column-gap: 26px;
}
.social i{
    color: var(--white);
    border-radius: 50%;
    font-size: 16px;

}
.copyright{
    padding: 32px 0;
}
.copyright p{
    color: var(--dark-blue);
}
.footer_nav{
    margin: 0;
    column-gap: 32px;
    color: var(--dark-blue);
}
.footer_nav .nav-link{
    color: var(--dark-blue);
}
.footer_nav .nav-link:hover{
    color: var(--dark-blue);
}
