@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    --primary:#1c1E53;
    --white:#ffffff;
    --yellow: #FCD980;
    --dark-blue:#282938;
    --grey: #F4F6FC;
    --transition: all linear .3s;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}

.common_btn{
    background: transparent;
    color: var(--white);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    border-radius: 41px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    text-transform: capitalize;
    transition: var(--transition);

}
.common_btn:hover{
    background: var(--yellow);
    color: #1B1C2B;
}
.common_p{
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
h2{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
}
h3{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    margin-bottom: 32px;

}
.section_header h2{
    text-align: center;
    padding-bottom: 16px;
}
.section_header p{
    text-align: center;
    margin: 0 auto;
    opacity: 0.7;
}
/* ============NavBar section============ */
.navbar{
 background: var(--primary);
 padding: 16px 0;
}
.navbar-nav{
    column-gap: 32px;
    margin-right: 48px;
}
.nav-item .nav-link{
    color: #BBBBCB;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 0 !important;
    transition: var(--transition);
}
.nav-item .nav-link:hover{
    color: var(--white);
}
.nav_btn{
    padding: 16px 48px;
}


/* ===============banner section============ */
#banner{
    padding: 218px 0 128px;
    background-color: var(--primary);
}
.banner_text h1{
    color: var(--white);
    font-family: Poppins;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px; 
}
.banner_text p{
    color: var(--white);
    opacity: .7;
    padding: 24px 0 48px;
}
.banner_btn{
    padding: 16px 56px;
    margin-right: 40px;
}






/* =======================Contact page==================== */
#contact{
    padding: 128px 0;
}
#contact .section_header p{
    width: 520px;
    padding-bottom: 64px;
}
#contact form{
    background: var(--grey);
    border-radius: 12px;
    padding: 55px 76px 69px 77px;
}
#contact form input,#contact form textarea{
    background-color: transparent;
    margin-bottom: 24px;
    outline: 0;
}
#contact form input{
    height: 62px; 
    margin-bottom: 24px;
}
#contact form textarea{
    height: 138px; 
}
#contact form input:focus,#contact form textarea:focus{
    box-shadow: none;
    
}
#contact .contact_btn{
    background: var(--dark-blue);
    color: var(--white);
    font-size: 16px;
    padding: 16px 64px;
    /* opacity: .7; */
}
#contact .contact_btn:hover{
    background: var(--yellow);
    color: var(--dark-blue);
}

/* =================================Privacy page================= */
.privacy_content{
    padding: 128px 0 88px;
}
.privacy_content .section_header p{
    width: 550px;
    padding-bottom: 64px;
}
.privacy_text{
    margin-bottom: 40px;
}
.privacy_text p{
    color: var(--dark-blue);
    opacity: .7;
    margin-bottom: 24px;
}
.privacy_text ul{
    list-style-type: disc;
    padding: 0 20px 4px;
    margin: 0;
}
.privacy_text ul li{
    opacity: .7;
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 12px;
}



/* ===================Footer section=========== */
.upper_footer{
    padding: 96px 0 0 ;
    background: var(--primary);
}
.upper_footer .footer_left p{
    color: #ffffff;
    opacity: .8;
    margin: 22px 0 86px;
    padding-right: 130px;
}
.footer_contact{
    background: var(--yellow);
    padding: 17px 37px;
}
.footer_contact h6{
    color: var(--dark-blue);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}
.footer_contact h6{
    color: var(--dark-blue, #282938);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.upper_footer .footer_right h2{
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
}
.upper_footer .footer_right p{
    color: #ffffff;
    opacity: .8;
    margin: 14px 0 28px;
    padding-right: 240px;
}
.social{
    column-gap: 26px;
}
.social i{
    color: var(--white);
    border-radius: 50%;
    font-size: 16px;

}
.copyright{
    padding: 32px 0;
}
.copyright p{
    color: var(--dark-blue);
}
.footer_nav{

    column-gap: 32px;
    color: var(--dark-blue);
}
.footer_nav .nav-link{
    color: var(--dark-blue);
}
.footer_nav .nav-link:hover{
    color: var(--dark-blue);
}
